<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmailer Login</title>
</head>
<body>

    <div id="container">
    <h3 id="title">Gmailer Login</h3>

    <form action="/sendmail" method="POST">
        <label for="username">Username:</label><br>
        <input type="email" name="username" id="username" placeholder="Email@email.com" class="form"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password" placeholder="Password" class="form">
        <br>
        <br>
        <input type="submit" value="Login" id="button" ><br>

    </form>
    </div>

</body>

<style>
    div{
        padding-top: 10px;
        margin: auto;
        margin-top: 10%;
        width: 30%;
        box-shadow: 1px 2px 2px gray;
        border-radius: 10px;
        border: 1px solid gray;
        padding-left: 30px;
        background-color: rgb(252, 252, 252);
    }
    .form{
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        padding-left: 7px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 1px solid;
        box-shadow: 1px 1px 1px gray;
        background-color: rgb(243, 241, 241);
    }
    #title{
        text-align: center;
        font-family: monospace;
    }
    #button{
        width: 60px;
        height: 30px;
        margin-bottom: 25px;
        align-self: center;
        font-family: monospace;
        font-weight: bold;
        box-shadow: 1px 1px 1px gray;
        border-radius: 5px
    }
    label{
        font-family:monospace;
        font-weight: bold;
    }
    textarea{
        width: 80%;
    }
    body{
        background-color: rgb(131, 0, 253);
    }
</style>
</html>