<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send an E-mail</title>
</head>
<body>
    <div id="container">
    <h3 class="title">Send an E-mail</h3>

    <form action="/processing" method="post">
        <label for="from">From: {{.Email}}</label><br>
        <label for="to">To:</label><br>
        <input type="text" name="to" id="to" placeholder="Email@email.com" class="form"><br>
        <label for="subject">Subject:</label><br>
        <input type="text" name="subject" id="subject" class="form" placeholder="Type a subject"><br>
        <label for="message">Message:</label><br>
        <textarea name="message" id="message" cols="70" rows="10" class="form" placeholder="Write your message here!"></textarea>
        <br>
        <br>
        <input type="submit" value="Send" id="button">
        <input type="submit" value="Log out" formmethod="GET" id="logout_button"> 
    </form>
    </div>

</body>

<style>
    div{
        padding-top: 10px;
        margin: auto;
        margin-top: 5%;
        width: 40%;
        box-shadow: 1px 2px 2px gray;
        border-radius: 10px;
        border: 1px solid gray;
        padding-left: 30px;
        background-color: rgb(252, 252, 252);
    }
    .form{
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        padding-left: 7px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 1px solid;
        box-shadow: 1px 1px 1px gray;
        background-color: rgb(243, 241, 241);
    }
    .title{
        text-align: center;
        font-family: monospace;
    }
    #button{
        width: 60px;
        height: 30px;
        margin-bottom: 25px;
        margin-right:22%;
        font-family: monospace;
        font-weight: bold;
        box-shadow: 1px 1px 1px gray;
        border-radius: 5px
    }
    #logout_button{
        width: 95px;
        height: 30px;
        margin-bottom: 25px;
        margin-left: 30%;
        position: relative;
        font-family: monospace;
        font-weight: bold;
        box-shadow: 1px 1px 1px gray;
        border-radius: 5px
    }
    label{
        font-family:monospace;
        font-weight: bold;
    }
    textarea{
        width: 80%;
    }
    body{
        background-color: rgb(131, 0, 253);
    }
</style>
</html>